[submodule ".local/share/home/public/~/.config/hammerspoon/types/penlight"]
	path = .local/share/home/public/~/.config/hammerspoon/types/penlight
	url = https://github.com/goldenstein64/pl-definitions.git
[submodule ".local/share/home/public/~/.config/hammerspoon/types/lsqlite3"]
	path = .local/share/home/public/~/.config/hammerspoon/types/lsqlite3
	url = https://github.com/KaitlynEthylia/LuaSQLite3-annotations.git
