# static items
/.cache/
# https://github.com/expo/expo/discussions/18448
/.expo/
/.git-private/
/.git-public/
/.local/
/.Trash/
/Applications/
/Calibre/
/Desktop/
/dev/
/Documents/
/Downloads/
/Movies/
/Music/
/Obsidian/
/Pictures/
/Public/
/.CFUserTextEncoding
# floating items
*.sock
*.swp
*_history
.history/
