# Ignore everything by default.
*

# Allow-list the items below.
!.gitconfig
!.gitignore
!.hammerspoon/
!.hammerspoon/**
!.hushlogin
!.nanorc
!.npmrc
!.p10k*.zsh
!.profile
!.screenrc
!.ssh/
!.ssh/**
!.tmux.conf
!.zshenv
!.zshrc
!bin/
!bin/**
