# static items
/.cache/
/.cups/
# https://github.com/expo/expo/discussions/18448
/.expo/
/.vscode-shared/
/.local/
/.Trash/
/Applications/
/Calibre/
/Desktop/
/dev/
/Documents/
/Downloads/
/Movies/
/Music/
/Obsidian/
/Pictures/
/Public/
/VMs/
/.CFUserTextEncoding
# floating items
*.sock
*.swp
*_history
.history/
