[submodule ".config/hammerspoon/types/penlight"]
	path = .config/hammerspoon/types/penlight
	url = https://github.com/goldenstein64/pl-definitions.git
[submodule ".config/hammerspoon/types/lsqlite3"]
	path = .config/hammerspoon/types/lsqlite3
	url = https://github.com/KaitlynEthylia/LuaSQLite3-annotations.git
